@(title: String, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link type="text/css" href="@routes.Assets.at("vendor/bootstrap/bootstrap.min.css")" rel="stylesheet"/>
        <link type="text/css" href="@routes.Assets.at("vendor/bootstrap/bootstrap-theme.min.css")" rel="stylesheet"/>
        <script type="application/javascript" src="@routes.Assets.at("vendor/angular/angular.min.js")"></script>
        <script type="application/javascript" src="@routes.Assets.at("vendor/angular-sanitize/angular-sanitize.min.js")"></script>
        @styles
    </head>
    <body>
        <div >
        @content
        </div>
        @scripts
    </body>
</html>
